#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 > #backgroundBox {
  background-color: #FFFFFF;
  position: absolute;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 > #alignmentBox {
  position: relative;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_4 {
  position: absolute;
  width: 1278.0000000000002px;
  min-height: 734.0000000000001px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_4 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(90.0deg, #099773 0.001%, #43B692 100.0%);
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_1 {
  position: absolute;
  width: 1280.0px;
  min-height: 69.99999999999997px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_1 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #151C81;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 10.0pt;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph .valign {
  vertical-align: top;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 21.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Image {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Image {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_1 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_2 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_2 span#rtr-s-Paragraph_2_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_3 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 {
  position: absolute;
  width: 150.0px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_4 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 15.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_10 {
  position: absolute;
  width: 245.18067359924362px;
  min-height: 37.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_10 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_10 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_10 span#rtr-s-Paragraph_10_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_11 {
  position: absolute;
  width: 245.18067359924362px;
  min-height: 37.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_11 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_11 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_11 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_11 span#rtr-s-Paragraph_11_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_12 {
  position: absolute;
  width: 245.18067359924362px;
  min-height: 37.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_12 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_12 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_12 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_12 span#rtr-s-Paragraph_12_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Image_2 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Image_2 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_15 {
  position: absolute;
  width: 245.18067359924362px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_15 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_15 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_15 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_15 span#rtr-s-Paragraph_15_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 {
  position: absolute;
  width: 155.5903367996218px;
  min-height: 62.000000000000114px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Image_3 {
  position: absolute;
  width: 100.0px;
  height: 100.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Image_3 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_16 {
  position: absolute;
  width: 245.18067359924362px;
  min-height: 37.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_16 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_16 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_16 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_16 span#rtr-s-Paragraph_16_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_17 {
  position: absolute;
  width: 245.18067359924362px;
  min-height: 37.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_17 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_17 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_17 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_17 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_17 span#rtr-s-Paragraph_17_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_18 {
  position: absolute;
  width: 245.18067359924362px;
  min-height: 37.99999999999977px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_18 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_18 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_18 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_18 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_18 span#rtr-s-Paragraph_18_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_21 {
  position: absolute;
  width: 245.18067359924362px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_21 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_21 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_21 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 700;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_21 span#rtr-s-Paragraph_21_1 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 {
  position: absolute;
  width: 155.59px;
  min-height: 62.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Line {
  position: absolute;
  width: 970.7128295898438px;
  height: 3.0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Line_1 {
  position: absolute;
  width: 970.4400024414062px;
  height: 3.0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 {
  position: absolute;
  width: 150.0px;
  min-height: 42.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../images/33467f48-8c9f-46fc-810f-0f6f3847b1e0.svg#svgView(preserveAspectRatio(none))');
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../images/5514cd8c-3a03-48ec-80bc-e329fae08e55.svg#svgView(preserveAspectRatio(none))');
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_1 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_1 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_9 {
  position: absolute;
  width: 75.30346918106125px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_9 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_9 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_2.checked > .backgroundLayer {
  background-image: url('../../images/41e2f03e-a496-4ef5-bdfa-fe183c9d78ce.svg#svgView(preserveAspectRatio(none))');
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_2.unchecked > .backgroundLayer {
  background-image: url('../../images/f9276b9b-7543-4b86-861f-e92e1ba22550.svg#svgView(preserveAspectRatio(none))');
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_2 {
  position: absolute;
  width: 22.0px;
  height: 22.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_2 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_13 {
  position: absolute;
  width: 75.30346918106125px;
  min-height: 20.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_13 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_13 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_13 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Line_2 {
  position: absolute;
  width: 3.0px;
  height: 698.5634765625px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Line_3 {
  position: absolute;
  width: 339.4726257324219px;
  height: 3.0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_3 {
  position: absolute;
  width: 20.044182953467953px;
  min-height: 352.7213380897441px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_3 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #D9D9D9;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search input::-moz-placeholder {
  color: #B4B4B4;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search input:-moz-placeholder {
  color: #B4B4B4;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search {
  position: absolute;
  width: 601.0000000000001px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search .valign {
  vertical-align: middle;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Bold',Arial;
  font-size: 11.0pt;
  text-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search > .backgroundLayer {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Input_search .paddingLayer:first-child {
  padding-top: 1px;
  padding-right: 41px;
  padding-bottom: 1px;
  padding-left: 11px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Image_37 {
  position: absolute;
  width: 19.000000000000227px;
  height: 19.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Image_37 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_5 {
  position: absolute;
  width: 318.18067359924373px;
  min-height: 39.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_5 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_6 {
  position: absolute;
  width: 288.07179487179496px;
  min-height: 37.999999999999886px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_6 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_6 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_7 {
  position: absolute;
  width: 293.33057498931885px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_7 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button {
  position: absolute;
  width: 256.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button span#rtr-s-Button_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 {
  position: absolute;
  width: 256.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 {
  position: absolute;
  width: 256.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 {
  position: absolute;
  width: 256.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #4A4A4A;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 {
  position: absolute;
  width: 256.0px;
  min-height: 70.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  filter: none;
  text-shadow: none;
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

_:-ms-fullscreen, :root #s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 {
  box-shadow: none;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 > .backgroundLayer > .colorLayer {
  background-color: #000000;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 > .backgroundLayer {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 span {
  color: #C4A464;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #C4A464;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-7d9b6bf3-169c-4496-94cf-e31a2ff64f54 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
